@import "tailwindcss";
@plugin 'tailwind-scrollbar';

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar{width: 8px !important; height: 8px !important}
::-webkit-scrollbar-thumb{background: #ff5252}
::-webkit-scrollbar-track{background: #fff};

.sidebar .scroll::-webkit-scrollbar{width: 5px !important; height: 5px !important}
.sidebar .scroll::-webkit-scrollbar-thumb{background: #ccc;}

.container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media(max-width: 768px) {
  .container {
    padding-left: 14px;
    padding-right: 14px;
  }
}


.bg-org{background: #ff5252};

.link:hover{color: #ff5252; };

/* index.css */
.swiper-button-prev,
.swiper-button-next {
  width: 45px !important;
  height: 45px !important;
  min-width: 45px;

  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px  3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 20px !important;
  height: 20px !important;
  color: black
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #ff5252;
}

.swiper-button-prev:hover svg,
.swiper-button-next:hover svg {
  color: white !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px;

  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px  3px #0000001f, 0 1px 2px #0000003d !important;
}

.smlBtn .swiper-button-prev svg,
.smlBtn .swiper-button-next svg {
  width: 15px !important;
  height: 15px !important;
  color: black
}

.smlBtn .swiper-button-prev:hover,
.smlBtn .swiper-button-next:hover {
  background-color: #ff5252;
}

.smlBtn .swiper-button-prev:hover svg,
.smlBtn .swiper-button-next:hover svg {
  color: white !important;
}

.productSlider .swiper-button-prev,
.productSlider .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px;

  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px !important;
  margin-left: 10px !important;
  box-shadow: 0 1px  3px #0000001f, 0 1px 2px #0000003d !important;
}

.productSlider .swiper-button-prev svg,
.productSlider .swiper-button-next svg {
  width: 15px !important;
  height: 15px !important;
  color: black
}

.productSlider .swiper-button-prev:hover,
.productSlider .swiper-button-next:hover {
  background-color: #ff5252;
}

.productSlider .swiper-button-prev:hover svg,
.productSlider .swiper-button-next:hover svg {
  color: white !important;
}

@media(max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next{
    display: none !important;
}
  .smlBtn .swiper-button-prev,
  .smlBtn .swiper-button-next{
    display: none !important;
}
}

.swiper-pagination-bullet-active {
  background-color: #ff5252 !important;
}

.homeBannerV2 .swiper-slide-active .info{right: 0; opacity: 1;}
.homeBannerV2 .swiper-slide-active .info h4{right: 0; opacity: 1;}
.homeBannerV2 .swiper-slide-active .info h2{right: 0; opacity: 1;}
.homeBannerV2 .swiper-slide-active .info h3{right: 0; opacity: 1;}
.homeBannerV2 .swiper-slide-active .info .btn{right: 0; opacity: 1;}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.range-slider{height: 3px !important}

.range-slider .range-slider__thumb{
  width: 14px !important; 
  height: 14px !important;
}

.range-slider .range-slider__thumb, .range-slider__range{
  background-color: #ff5252 !important;
}

.zoomProductSlider .swiper-button-next,
.zoomProductSlider .swiper-button-prev {
  width: 100% !important;
  left: 0 !important;        
  right: 0 !important;     
  margin: 0 !important;
  border-radius: 0;
}

.zoomProductSlider .swiper-button-prev {
  top: 0 !important;
}

.zoomProductSlider .swiper-button-next {
  bottom: 0 !important;
  top: auto !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.reviewScroll::-webkit-scrollbar{width: 5px !important};
.reviewScroll::-webkit-scrollbar-thumb{background: #ccc !important}