@import "tailwindcss";


body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar{width: 8px !important; height: 8px !important}
::-webkit-scrollbar-thumb{background: #ff5252}
::-webkit-scrollbar-track{background: #fff};

.container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media(max-width: 768px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
}


.bg-org{background: #ff5252};

.link:hover{color: #ff5252; };

/* index.css */
.swiper-button-prev,
.swiper-button-next {
  width: 45px !important;
  height: 45px !important;
  min-width: 45px;

  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px  3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 20px !important;
  height: 20px !important;
  color: black
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #ff5252;
}

.swiper-button-prev:hover svg,
.swiper-button-next:hover svg {
  color: white !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px;

  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px  3px #0000001f, 0 1px 2px #0000003d !important;
}

.smlBtn .swiper-button-prev svg,
.smlBtn .swiper-button-next svg {
  width: 15px !important;
  height: 15px !important;
  color: black
}

.smlBtn .swiper-button-prev:hover,
.smlBtn .swiper-button-next:hover {
  background-color: #ff5252;
}

.smlBtn .swiper-button-prev:hover svg,
.smlBtn .swiper-button-next:hover svg {
  color: white !important;
}

@media(max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next{
    display: none !important;
}
  .smlBtn .swiper-button-prev,
  .smlBtn .swiper-button-next{
    display: none !important;
}
}
